@CHARSET "UTF-8";

/*---HackerSpaceLogo--------------*/
#iconLogo {
	position: absolute;
	left: 1em;
	top: 0.5em;
}
#iconLogo img {
	width: 50%;
	height: auto;
}
/*--Info Panel--------------------*/
#infoActioncam {
    position: absolute;
    left: 6em;
    top: 0.5em;
}
#infoText {
	border: 0px;
}
#infoIP {
    background-color: #ffffff;
    border: 0px;
    color: #000000;
    pointer-events: none;
}
/*--Camera------------------------*/
#iconCamera {
    position: absolute;
    left: 1em;
    top: 6em;
}
/*--Recordings------------------------*/
#iconRecordings {
    position: absolute;
    left: 1em;
    top: 10em;
}
/*--Send------------------------*/
#iconSend {
    position: absolute;
    left: 1em;
    top: 14em;
}
/*--Config------------------------*/
#iconConfig {
    position: absolute;
    bottom: 2em;
    left: 1em;
}
/*---Power Button-----------------*/
#iconShutdown {
	position: absolute;
	top: 2em;
	right: 1em;
}
/*--iframe in the middle----------*/
iframe#ifrm {
    border:1px;
    left: 4em;
    top: 1.5em;
    width:1024px; height:620px;
    position: absolute;
}

/*--all Icons--*/
.icon {
    width: 24px;
}